VITE_SUPABASE_URL=https://dbhaslmftqgncrvczaxt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRiaGFzbG1mdHFnbmNydmN6YXh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzOTYzODQsImV4cCI6MjA5MTk3MjM4NH0.W4c2SSYtmyOTB7-t8W9GIdmdrnpfXIK7rxBR4_z9zXE
